# Python virtual environment
.venv/
venv/
ENV/

# Python compiled files and cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment variables & secrets
.env

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
